.html {
    background-color: white !important;

}


.step-content {
    display: flex;
    justify-content: center;
    padding-top: 50px;
    width: 100%;
}

.button-container {
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    margin-top: 20px;
}

.stepper {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    padding-top: 20vh;
}

.text-field {
    width: 100%;
    margin-bottom: 20px;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.additional {
    display: flex !important;
    flex-direction: row; 
    margin: 20px;
}
